@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --clr--dark: hsl(0, 0%, 0%);
    --clr--primary: hsl(37, 30%, 73%);
    --clr--secondary: hsl(11, 100%, 60%);
    --clr--green: hsl(115, 55%, 55%);
  }
  body {
    @apply relative bg-dark text-primary;
  }
}

@layer utilities {
  .input__filed {
    @apply flex-1 rounded-full  border-none bg-[hsl(0,0%,12%)] p-2.5 text-sm outline-none placeholder:text-[hsl(33,10%,45%)] aria-[invalid="true"]:ring-2 aria-[invalid="true"]:ring-red-500 aria-[invalid="true"]:ring-offset-4 aria-[invalid="true"]:ring-offset-dark;
  }
}
